<!DOCTYPE html>

<!--<header>
    <div class="flexheader">
        <a href="/" class="Logo"> <img src="/img/logo_pN.png" alt="Logo" width="30%"></a>
        <h2 class="Titulo1">HOME</h2>
        <h2 class="Titulo1">PRODUCTOS</h2>
        <h2 class="Titulo1">CARRITO</h2>
        <h2 class="Titulo1">LOGIN</h2>
        </div>

</header>-->

<header>
    <div class="flexheader">
        <a href="/" class="Logo"> <img src="/img/Logo_pronotebooks.jpg" alt="Logo" width="40%"></a>
            
        <a class = "fontsHeader" href = "/products">Productos</a>
        <a class = "fontsHeader" href = "/users">Usuarios</a>
        <a class = "fontsHeader" href = "/products">Elegi tu PC</a>
        <a class = "fontsHeader" href = "/products">Consejos</a>
        <a class = "fontsHeader" href = "/products">Links</a>

        <a href="/users/prueba"><i class="fa-solid fa-cart-arrow-down"></i></a>
        <% if (locals.isLogged) { %>
          <a href="/users/login"><i class="fa-solid fa-circle-user" style = "color:green"></i></a>
        <% } else { %>
            <a href="/users/login"><i class="fa-solid fa-circle-user"></i></a>
        <% } %>
    </div>
        <div class="contenedor">
            <a class="barra"><i class="fa fa-search"></i> Buscar</a>
    </div>
</header>