<!DOCTYPE html>

<header>
    <div class="flexheader">
        <a href="/" class="Logo"> <img src="/img/Logo_pronotebooks.jpg" alt="Logo" width="30%"></a>
        <h2 class="Titulo">ProNotebooks</h2>
        </div>

        <div class="contenedor">
        <p class="iconos">
            <a><i class="fa-solid fa-bars"></i></a>
            <a href = "/detalle"><i class="fa-solid fa-tags"></i></a>
            <a class="barra"><i class="fa fa-search"></i> Buscar</a>
            <a href="/carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
            <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
        </p>
    </div>
</header>