<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>ProNotebooks</title>        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" 
    rel="stylesheet">
    
        <!--Ligado a Fontawesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        rel="stylesheet" />

        <!-- Carrusel -->
        <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

        <!--Ligado al CSS-->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="flexheader">
            <a href="/" class="Logo"> <img src="/img/Logo_pronotebooks.jpg" alt="Logo" width="30%"></a>
            <h2 class="Titulo">ProNotebooks</h2>
        </div>

        <div class="contenedor">
            <p class="iconos">
                <a><i class="fa-solid fa-bars"></i></a>
                <a href = "/detalle"><i class="fa-solid fa-tags"></i></a>
                <a class="barra"><i class="fa fa-search"></i> Buscar</a>
                <a href="/carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
                <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
            </p>
        </div>
    </header>

    
    <main>
        <div class ="logowhatsapp">
            <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
        </div>

        <div class = "carrito">Carrito</div>
            <section>
                <article class = "articulo1">
                    <div class = "compra1">
                        <div class = "vistaProducto">
                                <a><img src="/img/imagen_carrusel_1.jpg" style="max-width: 100%;height: auto;" width="100%"></a>
                        </div>

                        <div class = "descripcionProducto">
                            <h2>NOOTBOOK ACER NITRO 5</h2>
                            <ul>
                                <li>32 GB RAM</li>
                                <li>1 TB</li>
                                <li>Core i7-7700HQ</li>
                                <li>NVIDIA GeForce GTX 1050</li>
                            </ul>
                        </div>

                        <div class = "cantidadesDesk">
                            <p class = "Unidades">Unidades</p>
                            <p>0</p>
                            <i class="fa-solid fa-arrows-up-down"></i>
                        </div>
                    </div> 


                    <div class = cantidades>
                        <p>Unidades</p>
                        <p class="numeroUnidades">0</p>
                        <i class="fa-solid fa-arrows-up-down"></i>
                    </div>

                    <div class = "monto">
                        <p>$450.000</p>
                    </div>

                    <div class="contenedroEliminar">
                        <div class = "eliminar"> Eliminar </div>
                    </div>

                    <div class="contenedroEliminarYOtros">
                        <div class = "eliminar"> Eliminar </div>
                        <div class = "comprarAhora"> Comprar ahora </div>
                        <div class = "agregarAFavoritos"> Agregar a favoritos </div>
                    </div>

                </article>



                <article class = "articulo2">
                    <div class = "compra2">
                        <div class = "vistaProducto">
                            <a><img src="/img/imagen_carrusel_1.jpg" style="max-width: 100%;height: auto;" width="100%"></a>
                        </div>

                        <div class = "descripcionProducto">
                            <h2>NOOTBOOK ACER NITRO 5</h2>
                            <ul>
                                <li>32 GB RAM</li>
                                <li>1 TB</li>
                                <li>Core i7-7700HQ</li>
                                <li>NVIDIA GeForce GTX 1050</li>
                            </ul>
                        </div>

                        <div class = "cantidadesDesk">
                            <p class = "Unidades">Unidades</p>
                            <p>0</p>
                            <i class="fa-solid fa-arrows-up-down"></i>
                        </div>
                    </div>
                

                    <div class = cantidades>
                        <p>Unidades</p>
                        <p class="numeroUnidades">0</p>
                        <i class="fa-solid fa-arrows-up-down"></i>
                    </div>

                    <div class = "monto">
                        <p>$450.000</p>
                    </div>

                    <div class="contenedroEliminar">
                        <div class = "eliminar"> Eliminar </div>
                    </div>

                    <div class="contenedroEliminarYOtros">
                        <div class = "eliminar"> Eliminar </div>
                        <div class = "comprarAhora"> Comprar ahora </div>
                        <div class = "agregarAFavoritos"> Agregar a favoritos </div>
                    </div>
                </article>



                <div class = "montoTotal">
                    <h3>Monto total</h3>
                    <p class="numeroMontoTotal">$900.000</p>
                </div>


                <div class="contenedroComprar">
                    <p class = "comprar"> COMPRAR </p>
                </div>


            </section>


            <div class = "barraFavoritos">Favoritos</div>


            <section class = "favoritos">
                <div class="swiffy-slider">
                    <ul class="slider-container">
                        <li><img src="/img/imagen_carrusel_1.jpg" style="max-width: 100%;height: auto;"></li>
                        <li><img src="/img/imagen_carrusel_2.jpg" style="max-width: 100%;height: auto;"></li>
                        <li><img src="/img/imagen_carrusel_3.jpg" style="max-width: 100%;height: auto;"></li>
                    </ul>
                
                    <button type="button" class="slider-nav"></button>
                    <button type="button" class="slider-nav slider-nav-next"></button>
                    
                    <div class="slider-indicators">
                        <button class="active"></button>
                        <button></button>
                        <button></button>
                    </div>
                </div>
            </section> 
        </main>



        <footer>
            <div class = "newsletter">
                <div class = "titulonewsletter">Suscribite a nuestro newsletter</div>
                <input class="datos_newsletter" title= "tu nombre" type="text" id="nombre" name="nombre">
                <input class="datos_newsletter" title= "tu email" type="email" id="email" name="email">
                <input class ="botonacceder" type="submit" value="Suscribite">
        </div>
            <div class = "fondo">
            <div class = "cajasfooter">
                <section>
                <h4 class = "titulosfooter">Información</h4>
                <p class ="recibitucompra">Recibi tu compra online y recibila en tu domicilio o retirala por nuestro local</p>
                <ul><p class ="titulomenu">Menu</p>
                    <li>Inicio</li>
                    <li>Tienda</li>
                    <li>Quienes somos</li>
                    <li>FAQ</li>
                    <li>Politica de Privacidad</li>
                </ul>
                </section>
                <section>
                <h4 class = "titulosfooter">Quienes somos</h4>
                <img src="/img/datafiscal.jfif" align="right" alt="afip" class="logoafip"/>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Laboriosam, quos? Labore inventore velit sunt consequuntur 
                    iusto ut! Consequatur ab maiores aperiam itaque ea. 
                    Dignissimos temporibus id odit? Eius, quibusdam natus.</p>
                </section>
                <section>
                    <h4 class = "titulosfooter">Contactate</h4>
                    <div class="cajacontacto">
                    <div class="textocontacto">               
                        <p><c>Email:</c><a href="mailto:ventas@pronotebooks.com">ventas@pronotebooks.com</a></p>
                        <p><c>Telefono:</c><d>(011) 4455-6677</d></p>
                        <p><c>Whataspp:</c><d>+54 9 11-2233-5566</d></p>
                        <p><c>Horario de Atención:</c><d>Lunes a viernes de 8hrs a 17hrs. Sabados de 10 a 13hrs</d></p>
                        <p><c>Reclamos:</c><a href="mailto:serviciotecnico@pronotebooks.com">serviciotecnico@pronotebooks.com</a></p>
                    </div>
                    <div class="cajalogos">
                        <img src="/img/facebook-logo.svg"  alt="Facebook" class ="logosredes"/>
                        <img src="/img/instagram-logo.svg" alt="Instagram" class ="logosredes" />
                        <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
                    </div>
                    </div>
                </section>
            </div>
            <h5>Copyright © 2021-2022 Pro Notebooks S.A.S.</h5>   
        </div>
        </footer> 
    </body>