<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>ProNotebooks</title>        
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" 
    rel="stylesheet">
    
        <!--Ligado a Fontawesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        rel="stylesheet" />

        <!-- Carrusel -->
        <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
        <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

        <!--Ligado al CSS-->
    <link rel="stylesheet" href="css/styles.css">
</head>

<!-- COMIENZO BODY -->
<body>
    <div class ="logowhatsapp">
        <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
    </div>
        <header>
            <div class="flexheader">
            <a href="/" class="Logo"> <img src="/img/Logo_pronotebooks.jpg" alt="Logo" width="30%"></a>
            <h2 class="Titulo">ProNotebooks</h2>
            </div>

            <div class="contenedor">
            <p class="iconos">
                <a><i class="fa-solid fa-bars"></i></a>
                <a href = "/detalle"><i class="fa-solid fa-tags"></i></a>
                <a class="barra"><i class="fa fa-search"></i> Buscar</a>
                <a href="/carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
                <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
            </p>
            </div>
        </header>
        <main>
            <div>
            <div class = "fotosyprecio_detalle">
            <div class = "fotos_detalle_producto">
                <div class = "foto_detalle_producto_principal">
                    <img class="principal" src="/img/laptopalienware4.jpg">
                </div>
                <div class = "foto_detalle_producto_secundarias">
                    <img class="secundaria" src="/img/laptopalienware1.jpg">
                    <img class="secundaria" src="/img/laptopalienware2.jpg">
                    <img class="secundaria" src="/img/laptopalienware3.jpg">
                </div>
            </div>  
            <section class ="cajaprecio_detalle">
                <div class ="titulo_detalle_producto">
                    Dell Alienware mx17 | 16gb RAM | 256gb SSD | Win10 | 17" 
                </div>
                <div class = "codigo_detalle_producto">
                    Cod. 123445552-53
                </div>
                <div class = "status_stock">
                    No hay stock
                </div>
                <div class = "precio">
                    Precio: ARS 657.000
                </div>
                <div class = "botones_detalle">
                    <button class = "boton_detalle_prod">Comprar Ahora</button>
                    <button class = "boton_detalle_prod">Agregar al carrito</button>
                </div>
            </section>
            </div>
            <div class = "detalleymarcas">
            <section class ="detallecompleto">
                <div class="encabezado_contenido_detalle_prod">
                    <div class = "solapas_contenido_detalle_prod">Descripción</div>
                    <div class = "solapas_contenido_detalle_prod">Opcionales</div>
                    <div class = "solapas_contenido_detalle_prod">Aplicaciones</div>
                </div>
                <div class ="contenido_detalle">
                    <div class = "titulos_contenido_detalle_prod">PROCESADOR
                    </div>
                    <div class = "contenido_detalle_prod">
                        Marca: AMD / Modelo: A4 9120E <br>
                        Núcleos: 2 / Frecuencia: 2.2GHz <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">GRÁFICOS
                    </div>
                    <div class = "contenido_detalle_prod">
                        Marca: AMD Radeon / Modelo: R3 <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">MEMORIA
                    </div>
                    <div class = "contenido_detalle_prod">
                        Capacidad: 4GB / Tipo: DDR4 SODIMM <br>
                        Expansión: No <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">ALMACENAMIENTO
                    </div>
                    <div class = "contenido_detalle_prod">
                        Capacidad: 64GB / Clase: SSD eMMC <br>
                        Puerto M2: No <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">PANTALLA
                    </div>
                    <div class = "contenido_detalle_prod">
                        Tamaño: 14 / Resolución: 1366x768<br>
                    </div>
                    
                    <div class = "titulos_contenido_detalle_prod">CONECTIVIDAD
                    </div>
                    <div class = "contenido_detalle_prod">
                        WiFi: Si, AC / Bluetooth: Si, 4.2 <br>
                        HDMI: Si / Red: No <br>
                        USB 3.1: 2 <br>
                        Grabadora DVD: No / Lector Memorias: Si <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">SISTEMA OPERATIVO
                    </div>
                    <div class = "contenido_detalle_prod">
                        OS: Windows 11 Home<br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">OTRAS ESPECIFICACIONES
                    </div>
                    <div class = "contenido_detalle_prod">
                        Color: Ice Blue / WebCam: Si, 0.3MP <br>
                        Teclado: Español / Pad Numérico: Si<br>
                        Dimensiones: 23.50cm Profundidad, 32.71cm Ancho, 1.88cm Alto<br>
                        Peso: 1.40Kg / Modelo: 81VS000GAR<br>
                        Batería: 35Wh / Garantía: 12 Meses Lenovo Oficial<br>
                    </div>
                </div>                      
            </section> 
            <section class = "marcas">
                    <img class="logomarcas" src="/img/Alienware-Logo-1.png">
                    <img class="logomarcas" src="/img/radeonlogo.jfif">
                    <img class="logomarcas" src="/img/windows11logo.png">
            </section>
            </div>
            </div>
        </main>

    <!-- COMIENZO FOOTER -->

        <footer>
            <div class = "newsletter">
                <div class = "titulonewsletter">Suscribite a nuestro newsletter</div>
                <input class="datos_newsletter" title= "tu nombre" type="text" id="nombre" name="nombre">
                <input class="datos_newsletter" title= "tu email" type="email" id="email" name="email">
                <input class ="botonacceder" type="submit" value="Suscribite">
        </div>
            <div class = "fondo">
            <div class = "cajasfooter">
                <section>
                <h4 class = "titulosfooter">Información</h4>
                <p class ="recibitucompra">Recibi tu compra online y recibila en tu domicilio o retirala por nuestro local</p>
                <ul><p class ="titulomenu">Menu</p>
                    <li>Inicio</li>
                    <li>Tienda</li>
                    <li>Quienes somos</li>
                    <li>FAQ</li>
                    <li>Politica de Privacidad</li>
                </ul>
                </section>
                <section>
                <h4 class = "titulosfooter">Quienes somos</h4>
                <img src="/img/datafiscal.jfif" align="right" alt="afip" class="logoafip"/>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Laboriosam, quos? Labore inventore velit sunt consequuntur 
                    iusto ut! Consequatur ab maiores aperiam itaque ea. 
                    Dignissimos temporibus id odit? Eius, quibusdam natus.</p>
                </section>
                <section>
                    <h4 class = "titulosfooter">Contactate</h4>
                    <div class="cajacontacto">
                    <div class="textocontacto">               
                        <p><c>Email:</c><a href="mailto:ventas@pronotebooks.com">ventas@pronotebooks.com</a></p>
                        <p><c>Telefono:</c><d>(011) 4455-6677</d></p>
                        <p><c>Whataspp:</c><d>+54 9 11-2233-5566</d></p>
                        <p><c>Horario de Atención:</c><d>Lunes a viernes de 8hrs a 17hrs. Sabados de 10 a 13hrs</d></p>
                        <p><c>Reclamos:</c><a href="mailto:serviciotecnico@pronotebooks.com">serviciotecnico@pronotebooks.com</a></p>
                    </div>
                    <div class="cajalogos">
                        <img src="/img/facebook-logo.svg"  alt="Facebook" class ="logosredes"/>
                        <img src="/img/instagram-logo.svg" alt="Instagram" class ="logosredes" />
                        <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
                    </div>
                    </div>
                </section>
            </div>
            <h5>Copyright © 2021-2022 Pro Notebooks S.A.S.</h5>   
        </div>
        </footer>

    </body>
</html>
