<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login - ProNotebooks</title>        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

        <!--Ligado a Fontawesome-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        rel="stylesheet" />

        <!--Ligado al CSS-->
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        
        <header>
            <div class="flexheader">
                <p class="Logo"> <img src="/img/Logo_pronotebooks.jpg" alt="Logo" width="30%"></p>
                <h2 class="Titulo">ProNotebooks</h2>
                </div>
    
                <div class="contenedor">
                    <p class="iconos">
                        <a><i class="fa-solid fa-bars"></i></a>
                        <a href = "/detalle"><i class="fa-solid fa-tags"></i></a>
                        <a class="barra"><i class="fa fa-search"></i> Buscar</a>
                        <a href="/carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
                        <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
                    </p>
                </div>
        </header>

    <div class="flexDeskL">
        <article class="bordeLogin2">
                <h1>¿No tienes cuenta?</h1> 
                <p><a href="/register">¡Regístrate!</a></p>
        </article>
        
        <main>
        <article class="bordeLogin1">
            <h1>Inicia sesión</h1>
            <form action="/" method="POST">
                <div class="formulario">
                    <img class="img" src="/img/ppdefecto.png" alt="Foto de perfil">
                    <div class="centrado">
                        <p class="bordesAbajoL">
                            <label  for="usuario">Usuario:</label>
                        </p>
                        <input class="bordesArriba" type="text" id="usuario" name="usuario">
                        <br>
                        <p class="bordesAbajoL">
                            <label for="password">Contraseña:</label>
                        </p>
                        <input  class="bordesArriba" type="password" id="password" name="password">
                        <br>
                        <br>
                    </div>
                        <input  class="boton" type="submit" value="Acceder">

                </div>
            </form>

            <br>
            <br>

            <article class="links">
                <p class="borde"><a href="#">Crea tu cuenta</a></p>
                <p class="borde"><a href="#">¿Olvidaste tu contraseña?</a></p>
            </article>
        </article>
        </main>
    </div>
        <footer>
            <div class="FOOTERPRUEBA">
                <p>AQUI VA EL FOOTER</p>
            </div>
        </footer>

    </body>
</html>