<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registrate - ProNotebooks</title>        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

        <!--Ligado a Fontawesome-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        rel="stylesheet" />


        <!--Ligado al CSS-->
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class ="logowhatsapp">
            <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
        </div>
        <header>
            <div class="flexheader">
            <a href="/" class="Logo"> <img src="/img/Logo_pronotebooks.jpg" alt="Logo" width="30%"></a>
            <h2 class="Titulo">ProNotebooks</h2>
            </div>
    
            <div class="contenedor">
            <p class="iconos">
                <a><i class="fa-solid fa-bars"></i></a>
                <a href = "/detalle"><i class="fa-solid fa-tags"></i></a>
                <a class="barra"><i class="fa fa-search"></i> Buscar</a>
                <a href="/carrito"><i class="fa-solid fa-cart-arrow-down"></i></a>
                <a href="/login"><i class="fa-solid fa-circle-user"></i></a>
            </p>
            </div>
        </header>

            <div class="flexDesk">

                        <article class="bordeRegister2">
                            <h1>¿Ya tienes cuenta?</h1> 
                            <p><a href="/login">Inicia sesión</a></p>
                        </article>
                        
                    <main class="wit">
                    <article class="bordeRegister1">
                        <h1>Regístrate</h1>
                        <form action="/" method="POST">
                            <div class="formulario">
                                <div class="centrado">
                                    <p class="bordesAbajo">
                                        <label  for="usuario">Usuario:</label>
                                    </p>
                                    <input class="bordesArribaR" type="text" id="usuario" name="usuario" required>
                                    <br>
                                    <p class="bordesAbajo">
                                        <label for="email">Correo electronico:</label>
                                    </p>
                                    <input  class="bordesArribaR" type="email" id="email" name="email" required>
                                    <br>
                                    <p class="bordesAbajo">
                                        <label  for="password">Contraseña:</label>
                                    </p>
                                    <input class="bordesArribaR" type="password" id="password" name="password" required>
                                    <br>
                                    <p class="bordesAbajo">
                                        <label  for="confirmPassword">Confirmar contraseña:</label>
                                    </p>
                                    <input class="bordesArribaR" type="password" id="confirmPassword" name="confirmPassword" required>
                                    <br>
                                
                                </div>

                                    <p class="profilePic">
                                        <label  for="profilePic">Foto de perfil:</label>
                                    </p>
                                    <div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
                                        <input  class="input-file" type="file"  id="profilePic" name="profilePic" accept="image/png, .jpeg, .jpg, image">Elegir Imagen...
                                    </div>
                                    <br>   

                                    <input  class="botonRegister" type="submit" value="Crear cuenta">

                        </div>
                    </form>

                    <article class="links">
                        <p class="borde"><a href="#">Regresar</a></p>
                    </article>
                </article>


                </main>
            </div>
            

        <footer>
            <div class = "newsletter">Suscribite a nuestro newsletter</div>
            <div class = "fondo">
            <div class = "cajasfooter">
                <section>
                <h4 class = "titulosfooter">Información</h4>
                <p>Recibi tu compra online y recibila en tu domicilio o retirala por nuestro local</p>
                <ul><p class ="titulomenu">Menu</p>
                    <li>Inicio</li>
                    <li>Tienda</li>
                    <li>Quienes somos</li>
                    <li>FAQ</li>
                    <li>Politica de Privacidad</li>
                </ul>
                </section>
                <section>
                <h4 class = "titulosfooter">Quienes somos</h4>
                <img src="/img/datafiscal.jfif" align="right" alt="afip" class="logoafip"/>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Laboriosam, quos? Labore inventore velit sunt consequuntur 
                    iusto ut! Consequatur ab maiores aperiam itaque ea. 
                    Dignissimos temporibus id odit? Eius, quibusdam natus.</p>
                </section>
                <section>
                    <h4 class = "titulosfooter">Contactate</h4>
                    <div class="cajacontacto">
                    <div class="textocontacto">               
                        <p><c>Email:</c><a href="mailto:ventas@pronotebooks.com">ventas@pronotebooks.com</a></p>
                        <p><c>Telefono:</c><d>(011) 4455-6677</d></p>
                        <p><c>Whataspp:</c><d>+54 9 11-2233-5566</d></p>
                        <p><c>Horario de Atención:</c><d>Lunes a viernes de 8hrs a 17hrs. Sabados de 10 a 13hrs</d></p>
                        <p><c>Reclamos:</c><a href="mailto:serviciotecnico@pronotebooks.com">serviciotecnico@pronotebooks.com</a></p>
                    </div>
                    <div class="cajalogos">
                        <img src="/img/facebook-logo.svg"  alt="Facebook" class ="logosredes"/>
                        <img src="/img/instagram-logo.svg" alt="Instagram" class ="logosredes" />
                        <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
                    </div>
                    </div>
                </section>
            </div>
            <h5>Copyright © 2021-2022 Pro Notebooks S.A.S.</h5>   
        </div>
        </footer>   

    </body>
</html>