:root{
    --darkblue: #170055;
    --blue: #3E00FF;
    --purple: #AE00FB;
    --lightblue: #B5FFD9;
    --Otroazul: #093569;
}

*{font-family: 'Lato', sans-serif;

  box-sizing: border-box;}

  a {
      text-decoration: none;
      outline: none;
  }
  header div .iconos a { outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: white

    }
    header div .iconos a:hover {color: lightblue;
    }
    h5{
        text-align: center;
}
body {padding-top: 8rem;}

.logowhatsapp{
    position:fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    z-index:10;
}
main{
    margin-bottom: 20px;
}
  /* CSS Home */

    header {
        position:fixed;
        top:0px;
        left:0px;
        width: 100%;
        z-index: 10;
    }

  .barra{
    font-size: 8px;
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    width: 20%;
    height: 15px;
    margin-top: 10px;
   }

  .Barracuotassininteres{
      font-size: 17px;
      color: #ffffff;
      margin-top: 3px;
      background-color: var(--darkblue);
      text-align: center;
  }

  .contenedor{
      background-color: #170055;
      padding: 0;
      border-top: 4px solid white ;
      border-bottom: 5px solid white; 
      margin-bottom: 3px;
   }

   .descripcioncompleta{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content:space-around;
   }

  .flexheader{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--darkblue);
    justify-content: flex-start;
    color: #ffffff;
    margin-bottom: auto;
    margin:0;
    padding:0;
    border-bottom: 5px solid white;
   }
  
  .iconos{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    margin: 10px;
    color:#ffffff;
    background-color: var(--darkblue);
    align-items: flex-start;
   }

  .Imagenesmasvendidos{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    }

.imagenMV{
   width: 200px; 
   height: 150px;
}    

.masVendidosFlex{
    display: flex;
    flex-direction: column;
    padding:0;
    justify-content: center;
}
.masVendidosFlex:hover{
    box-shadow : 0px 0px 10px black;
    border: 1px solid grey
}

.Lista{
    font-size: 12px;
    width: 100%;
    text-align: center;
    height: 120px;
}

.Marca{
    color: var(--darkblue);
    font-weight: bold;
    font-size: 22px;
    padding-top:10px;
}
body .camion{
    display: block;
    position: relative;
    font-size: 16px;
    color: #39b54a;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: -160px;
    top: -120px;
}
body .camion:hover{
    transform: rotate(-90deg);
    transition: all 1s;
}

ul {
    padding-inline-start: 0px;
    color: var(--blue);
}

.sliderCenter{
    margin-left: 22%;
    margin-right: 20%;
}

.swiffy-slider{
    background-color: black;
    margin-left: 0%;
    margin-right: 1%;
}

  .Productosmasvendidos{
    font-size: 17px;
    color: #ffffff;
    margin-top: 8px;
    background-color: var(--Otroazul);
    text-align: center;
   }

.Titulo{
    margin-right: 80px;
   }
/* Estilos Footer */

footer .fondo{
    background-image: url("/img/BackgroundFooter.jpg") ;
    background-repeat: repeat-y;
    background-size: cover;
    font-size: 18px;
    padding: 15px;
    color: white;
}
footer .titulosfooter {
    background-color: darkblue;
    width: 100%;
    padding: 7px;
    font-style: italic;
}
footer section{
    margin-top:10px;
    margin-bottom: 10px;
}
footer .newsletter{
    background-color: #000080;
    height: 40px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 8px;
    padding: 8px;
}

footer .logoafip{
    margin: 10px;
    width: 50px;
}
footer p{
    padding:6px;
    font-size: 15px;
    margin-left: 3px;
}
footer li {
    list-style: none;
    font-size: 15px;
    margin-left: 15px;
    padding-top: 6px;
    }
footer ul{
    font-size: 15px;
    padding: 6px;
    margin-left: 3px;
}
footer .titulomenu{
    font-weight: bold;
    font-style: italic;
}

footer section p c {
    color: lightblue;
    font-weight: bold;
    padding-right: 5px;
}
footer .cajalogos{
    width:30px; 
}
footer .logosredes{
    width: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer .cajacontacto{
    display:flex;
    justify-content: space-between;
    padding-right:10px;
}
footer .textocontacto{
    width:70%
}

/* CSS Register y Login */

article.links{
    display: flex;
    justify-content: center;
}

.boton{
    size: 20%;
    text-align: center;
    margin: 0 auto;
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.boton:hover{
    background-color: var(--darkblue);
    border: 1px solid var(--darkblue);
    transition: 0.5s;
}

.botonRegister{
    size: 20%;
    text-align: center;
    margin: 40px auto 0px;
    background-color: var(--blue);
    border: none;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.botonRegister:hover{
    background-color: var(--darkblue);
    border: 1px solid var(--darkblue);
    transition: 0.5s;
}

.bordesArriba{
    margin-top: 0%;
    transition: 1s;
}

.bordesArribaR{
    margin-top: 0%;
    transition: 1s;
}

.bordesArriba:focus{
    border: 3px solid var(--blue);
    background-color: lightblue;
    transition: 0.5s;
}

.bordesArribaR:focus{
    border: 3px solid var(--blue);
    background-color: lightblue;
    transition: 0.5s;
}

.bordesAbajoL{
    margin-bottom: 2px;
}


.bordesAbajo{
    margin-bottom: 2px;
}

.bordesAbajo::before{
    content: "*";
    color: red;
}

.borde{
    padding-right: 10px;
    padding-left: 10px;
}

.centrado{
    size: 30%;
    margin: 0% auto;
}

.custom-input-file {
    background-color: var(--darkblue);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 7px;
    position: relative;
    text-align: center;
    font-size: 12px;
  }
  
  .custom-input-file .input-file {
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
   font-size: 12px;
  }

div.formulario{
    display: flex;
    flex-direction: column;
    
}

.img{
    size: 50%;
    width: 200px;
    margin: 0% auto 20px;
    box-shadow: 5px 5px 5px #999
}

main h1{
    font-size: 2em;
    margin: 0 auto 30px ;
    text-align: center;
    color: var(--blue);
}

.profilePic{
    margin: 20px auto 0px;
}

.profileFile{
    margin: 0 auto;
}
/* CSS Detalle de Productos */

body .fotos_detalle_producto {
    width:100%
}
body .foto_detalle_producto_principal{
    display:flex;
    justify-content: center;
    border-bottom: 2px solid #eaeaea;
    margin-bottom: 10px;
}
body .foto_detalle_producto_secundarias{
    display:flex;
    margin-bottom: 10px;
    justify-content: center;
}
body .principal {
    width:80%;
}
body .secundaria {
    width:20%;
    margin: 5px;
}
body .titulo_detalle_producto {
    padding: 7px;
    font-size: 18px;
}
body .codigo_detalle_producto {
    padding: 7px;
    font-size: 15px;
    font-style:italic;
    margin-left: 5px;
}
body .status_stock {
    color:red;
    margin-left: 12px;
    font-size: 15px;
    font-style:italic;
}
body .precio {
    padding:10px;
    margin-left: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
body .descuento {
    padding:10px;
    margin-left: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: green;
}
body .boton_detalle_prod{
    padding: 5px;
    width: 50%;
    font-size: 15px;
    font-weight: bold;
    color:white;
    margin:10px;
    background-color:darkblue;
}
body .botones_detalle{
    margin-bottom: 15px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
  }
body .solapas_contenido_detalle_prod{
    border:1px solid black;
    padding: 5px;
    width: 150px;
    text-align: center;
    font-size:12px;
}
body .encabezado_contenido_detalle_prod{
    display:flex;
}
body .contenido_detalle {
    border: 1px solid black;
    padding: 10px;
}
body .detallecompleto{
    margin: 20px;
    width:100%
}
body .titulos_contenido_detalle_prod{
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
}
body .contenido_detalle_prod{
    font-size: 12px;
    padding: 4px;    
}
body .detalleymarcas {
    display:flex;
    justify-content: center;
}
body .marcas {
    display:none;
    flex-direction: column;
}
body .logomarcas {
    width:150px;
}
/* CSS Carrito de compras */
ul {
    list-style:none;
}


.articulo1 {
    margin-bottom: 10px;
    border-bottom: #667 dotted 1px;
}

.articulo2 {
    margin-bottom: 10px;
    border-bottom: #667 dotted 1px;
}

.barraFavoritos {
    background-color: var(--darkblue);
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cantidades {
    display: flex;
    width: 33%;
    justify-content:flex-start;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;
}

.carrito {
    background-color: var(--darkblue);
    color: white;
    text-align: center;
}

.compra1{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.compra2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comprar {
    background-color: var(--darkblue);
    color: white;
    text-align: center;
    width: 50%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.contenedroComprar {
    display: flex;
    justify-content: center;
}

.contenedroEliminar{
    display: flex;
    justify-content: center;
}

.contenedroEliminarYOtros {
    display: flex;
    justify-content: space-between;
    display: none;
}

.descripcionProducto {
    width: 50%;
    margin: 10px;
}

.descripcionProducto h2 {
    font-size: 16px;
}

.descripcionProducto ul li {
    font-size: 12px;
}

.eliminar {
    background-color: var(--darkblue);
    color: white;
    text-align: center;
    width: 50%;
    margin-bottom: 5px;
}



.fa-arrows-up-down{
    margin-left: 5px;
}

.monto {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 10px;
}

.montoTotal{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    align-items: center;
}

.numeroUnidades {
    margin-left: 50%;
}

.numeroMontoTotal{
    margin-left: 5px;
}

.vistaProducto {
    margin: 10px;
    width: 50%;
}
/* ---------------------MEDIA QUERY PARA TABLET------------------------------------ */
@media (min-width: 361px){
    article.links{
        font-size: 16px;
    }

    body{font-size: 18px;
        padding-top: 1rem;}

    .bordesArribaR{
        width: 200px;    
    }

    .custom-input-file {
        font-size: 12px;
    }

    .custom-input-file .input-file {
        font-size: 12px;
    }

    .Descripciondeproductos{
        width: 5%;
        margin-top: 30px;
    }
    
    .img{
        width: 300px;
    }
    body{
        display:block
    }

    .main h1{
        font-size: 40px;
    }

    .profilePic{
        font-size: 16px;
    }
    body .boton_detalle_prod{
        width: 160px;
    }

        /* TABLET - CSS Carrito de compras */
    .contenedroEliminar {
        display: none;
        justify-content: center;
    }

    .contenedroEliminarYOtros {
        display: flex;
        justify-content: space-between;
    }

    .eliminar {
        background-color: var(--darkblue);
        color: white;
        text-align: center;
        width: 33.33%;
        margin-bottom: 5px;
    }

    .comprarAhora {
        background-color: var(--darkblue);
        color: white;
        text-align: center;
        width: 33.33%;
        margin-bottom: 5px;
    }

    .agregarAFavoritos {
        background-color: var(--darkblue);
        color: white;
        text-align: center;
        width: 33.33%;
        margin-bottom: 5px;
    }

}
/* ------------------------MEDIA QUERY PARA COMPUTADORA-------------------------- */
@media (min-width: 769px){
    article.links{
        font-size: 16px;
    }

    body{font-size: 30px;
        padding-top: 12rem;}

    .bordesAbajoL{
        font-size: 20px;
        margin-bottom: 0px;
    }

    .bordeRegister1{
        border: 2px solid black;
        width: 200%;
        border-radius: 8%;
    }

    .bordeLogin1{
        border: 2px solid black;
        width: 135%;
        border-radius: 8%;
    }

    .bordeRegister2{
        display: flex;
        background-color: #dcf0fc;
        border: 2px solid black;
        width: 30%;
        border-radius: 8%;
        margin-left: 6%;
        margin-right:14%;
        justify-content: center;
        flex-direction: column;
    }

    .bordeRegister2 h1 {
        color: var(--blue);
        font-size: 35px;
        
        justify-self: center;
        align-self: center;
        margin-bottom: 0%;
    }

    .bordeRegister2 p {
        color: var(--blue);
        font-size: 20px;
        
        justify-self: center;
        align-self: center;
        margin-top: 10px;
    }

    .bordeLogin2{
        display: flex;
        background-color: #dcf0fc;
        border: 2px solid black;
        width: 37%;
        border-radius: 8%;
        margin-left: 0%;
        margin-right:2%;
        justify-content: center;
        flex-direction: column;
    }

    .bordeLogin2 h1 {
        color: var(--blue);
        font-size: 35px;
        
        justify-self: center;
        align-self: center;
        margin-bottom: 0%;
    }

    .bordeLogin2 p {
        color: var(--blue);
        font-size: 20px;
        
        justify-self: center;
        align-self: center;
        margin-top: 10px;
    }

    .bordesAbajo{
        font-size: 20px;
        margin-bottom: 0px;
    }
    
    .bordesArribaR{
        width: 225px;    
    }

    .botonRegister{

        margin: 5px auto 0px;

    }

    .custom-input-file {
        font-size: 16px;
    }

    .custom-input-file .input-file {
        font-size: 16px;
    }

    .flexDesk{
        display: flex;
        justify-content: center;
    }

    .flexDeskL{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    

    .img{
        width: 350px;
    
    }

    main h1{
        font-size: 50px; 
    }

    main .bordeLogin1{
        margin-left: 10%;
        margin-right:10%;
    }
    .profilePic{
        font-size: 20px;
    }
    
    footer .cajasfooter{
        display:flex;
        margin:10px;
    }
    footer section {
        width: 33vw;
    }
    body .marcas {
        display:flex;
        flex-direction: column;
    }
    body .fotosyprecio_detalle{
        display:flex;
    }
    body .cajaprecio_detalle{
        padding: 100px;  
        
    }
    body .detallecompleto{
        margin: 20px;
        width:70%
    }
}