<!DOCTYPE html>

<html>
<!-- COMIENZO DEL HEAD -->

<%- include ("../partials/head") -%>


<body>

    <div class ="logowhatsapp">
        <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
    </div>

<!-- COMIENZO DEL HEADER -->

<%- include ("../partials/header") -%>

    
    <main>
        <div class ="logowhatsapp">
            <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
        </div>

        <div class = "carrito">Carrito</div>
            <section>
                <article class = "articulo1">
                    <% products.forEach(function (product) { %>
                    <div class = "compra1">
                        <div class = "vistaProducto">
                                <a><img src="/img/imagen_carrusel_1.jpg" style="max-width: 100%;height: auto;" width="100%"></a>
                        </div>

                        <div class = "descripcionProducto">
                            <h2>NOOTBOOK ACER NITRO 5</h2>
                            <ul>
                                <li>32 GB RAM</li>
                                <li>1 TB</li>
                                <li>Core i7-7700HQ</li>
                                <li>NVIDIA GeForce GTX 1050</li>
                            </ul>
                        </div>

                        <div class = "cantidadesDesk">
                            <p class = "Unidades">Unidades</p>
                            <p>0</p>
                            <i class="fa-solid fa-arrows-up-down"></i>
                        </div>
                    </div> 


                    <div class = cantidades>
                        <p>Unidades</p>
                        <p class="numeroUnidades">0</p>
                        <i class="fa-solid fa-arrows-up-down"></i>
                    </div>

                    <div class = "monto">
                        <p>$450.000</p>
                    </div>

                    <div class="contenedroEliminar">
                        <div class = "eliminar"> Eliminar </div>
                    </div>

                    <div class="contenedroEliminarYOtros">
                        <div class = "eliminar"> Eliminar </div>
                        <div class = "comprarAhora"> Comprar ahora </div>
                        <div class = "agregarAFavoritos"> Agregar a favoritos </div>
                    </div>

                </article>

                <div class = "montoTotal">
                    <h3>Monto total</h3>
                    <p class="numeroMontoTotal">$900.000</p>
                </div>


                <div class="contenedroComprar">
                    <p class = "comprar"> COMPRAR </p>
                </div>


            </section>


            
        </main>



<!-- COMIENZO DEL FOOTER -->

<%- include ("../partials/footer") -%>

    </body>

</html>