<!DOCTYPE html>
<html>
<!-- COMIENZO DEL HEAD -->

<%- include ("../partials/head") -%>

<!-- COMIENZO BODY -->
<body>
        <div class ="logowhatsapp">
            <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
        </div>

<%- include ("../partials/header") -%>

    <h4 class="editarProd">Productos</h4>
    <div class="botonEditar">
        <input   type="submit" value="Elegir Producto">
    </div>
    <form action="/edicionProd" method="GET">    
        <main class="mainEditar">
            <article>
                <p>
                    <label  for="productName">Nombre</label>
                </p>
                <input class="editarBox" type="text" id="name" name="name" required>

                <br>
                <br>

                <p>
                    <label  for="productDesc">Apellido</label>
                </p>
                <input class="editarBox" type="text" id="lastname" name="lastname">

                <br>
                <br>

                <p class="productPic">
                    <label  for="productPic">Imagen</label>
                </p>
                <div class="custom-input-file col-md-6 col-sm-6 col-xs-6">
                    <input  class="input-file" type="file"  id="imagen" name="imagen" accept="image/png, .jpeg, .jpg, image" required>Elegir Imagen...
                </div>
            </article>

            <article>
                <p>
                    <label  for="productSize">Contraseña</label>
                </p>
                <input class="editarBox" type="text" id="password" name="password">
                
                <br>
                <br>

                <p>
                    <label  for="productCategory">Categoría</label>
                </p>
                <select class="editarBox" name="category" id="category">

                    <option>Minorista</option>
                    
                    <option>Mayorista</option>
                    
                    <option>Vendedor</option>

                    <option>Comprador</option>

                    <option>Administrador</option>
                    
                </select>

                <br>
                <br>

                <p>
                    <label  for="productPrice">Email</label>
                </p>
                <input class="editarBox" type="text" id="email" name="email" required>
            </article>
        </main>
        <div class="botonEditar">
            <input   type="submit" value="Guardar">
        </div>
    </form>



    <!-- COMIENZO FOOTER -->

<%- include ("../partials/footer") -%>

    </body>
</html>
